.page-dashboard {
    background-color: #F9F9FC;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 230px;
    max-width: 230px;
    background: #4B525A;
    color: #fff;
    transition: all 0.3s;

    .sidebar-header {
        padding: 20px;
        background: #6d7fcc;
    }

    ul.components {
        padding: 20px 0;
    }

    ul {
        p {
            color: #fff;
            padding: 10px;
        }

        li {
            a {
                padding: 10px 10px 10px 1.2rem;
                display: block;

                &:hover {
                    color: #7386D5;
                    background: #fff;
                }

                i {
                    padding-right: 1.1rem;
                }
            }
        }

        li.active {
            >a {
                color: #fff;
                background: #6d7fcc;
            }
        }
    }
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }
}

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
    
    .main {
        padding: 25px;
    }
}

a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle {
    &::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }
}
